@font-face {
  font-family: 'Georgia';
  src: url('../fonts/georgia.ttf');
}
html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  background-color: gray;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
textarea {
  font-family: 'Georgia';
}
h1 {
  font-size: 1.75rem;
  line-height: 1;
}
h2 {
  font-size: 0.6875rem;
  line-height: 1;
}
h3 {
  font-size: 2.875rem;
  line-height: 1;
}
h4 {
  font-size: 2rem;
  line-height: 1;
}
h5 {
  font-size: 0.875rem;
  text-transform: uppercase;
}
h6 {
  font-size: 1rem;
}
p {
  font-size: 0.75rem;
  color: #979797;
}
li {
  display: inline-block;
}
a {
  font-size: 0.8125rem;
  text-decoration: none;
  color: white;
}
.button {
  background-color: #76c38f;
  width: 142px;
  height: 32px;
  color: white;
  font-size: 0.8125rem;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.button.submit {
  width: 75px;
  height: 35px;
}
.button:hover {
  background-color: #6bb984;
}
.main {
  width: 1200px;
  box-sizing: border-box;
  padding: 0 15px 20px 15px;
}
.input-regular {
  width: 225px;
  height: 35px;
  padding-left: 10px;
  box-sizing: border-box;
  color: #989898;
  font-size: 0.8125rem;
  border-radius: 10px;
  border: 1px solid #222222;
  background-color: #222222;
  outline: none;
}
.message {
  width: 225px;
  height: 80px;
  padding: 10px;
  box-sizing: border-box;
  color: #989898;
  font-size: 0.8125rem;
  border-radius: 10px;
  border: 1px solid #222222;
  background-color: #222222;
  outline: none;
  resize: none;
}
::placeholder {
  color: #989898;
  opacity: 1;
  font-family: 'Georgia';
  font-size: 0.8125rem;
}
:-ms-input-placeholder {
  color: #989898;
  font-family: 'Georgia';
  font-size: 0.8125rem;
}
::-ms-input-placeholder {
  color: #989898;
  font-family: 'Georgia';
  font-size: 0.8125rem;
}
.slick-prev {
  height: 30px;
  left: 0;
  z-index: 1;
}
.slick-next {
  height: 30px;
  right: 0;
  z-index: 1;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 600px;
  background-image: url("");
  background-size: cover;
}
header .main .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 115px;
}
header .main .head nav {
  -webkit-tap-highlight-color: transparent;
}
header .main .head nav ul img {
  display: none;
}
header .main .head nav ul li {
  padding: 0 20px;
  box-sizing: border-box;
}
header .main .head nav ul li a {
  text-transform: uppercase;
  line-height: 3;
}
header .main .head nav ul li:hover {
  background-color: #76c38f;
  border-radius: 10px;
}
header .main .slider {
  width: 100%;
}
header .main .slider .slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
}
header .main .slider .slide article {
  width: 320px;
}
header .main .slider .slide article h3 {
  color: white;
  margin-bottom: 30px;
}
header .main .slider .slide article p {
  margin-bottom: 20px;
}
header .main .slider .slide img {
  width: 380px;
  height: 380px;
  clip-path: circle(50%);
  object-fit: cover;
}
.services {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 400px;
  text-align: center;
  overflow: hidden;
}
.services .main {
  padding-top: 61px;
}
.services .main .container-services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.services .main .container-services .service {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 225px;
  height: 307px;
  margin-right: 10px;
  margin-bottom: 40px;
  background-color: white;
  cursor: pointer;
}
.services .main .container-services .service .img-block {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.services .main .container-services .service h4 {
  margin-top: 18px;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.services .main .container-services .service p {
  width: 160px;
  margin-bottom: 25px;
}
.services .main .container-services .service:hover {
  background-color: #76c38f;
}
.services .main .container-services .service:hover h4 {
  color: white;
}
.services .main .container-services .service:hover p {
  color: white;
}
.services .main .container-services .service:last-of-type {
  margin-right: 0;
}
.works {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 570px;
  text-align: center;
  overflow: hidden;
}
.works .main h4 {
  display: inline-block;
  width: 256px;
  line-height: 1.5;
  margin-top: 40px;
  background-color: #303030;
  border-radius: 10px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}
.works .main .container-works {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 80px;
}
.works .main .container-works .work {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 320px;
  height: 200px;
  margin: 0 10px 40px 10px;
  box-sizing: border-box;
  border: 5px solid white;
  background-color: red;
  cursor: pointer;
}
.works .main .container-works .work .img-block {
  width: 100%;
  height: 100%;
}
.works .main .container-works .work figcaption {
  width: 100%;
  color: white;
  background-color: black;
}
.works .main .container-works .work figcaption h5 {
  line-height: 2;
}
.works .main .container-works .work:hover {
  border: 5px solid #76c38f;
}
.works .main .container-works .work:hover figcaption {
  display: none;
}
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 390px;
  text-align: center;
  overflow: hidden;
  background-color: blue;
}
footer .main .container-footer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
footer .main .container-footer .foot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 225px;
  max-height: 390px;
  margin: 0 10px 40px 10px;
}
footer .main .container-footer .foot h6 {
  color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}
footer .main .container-footer .foot a {
  color: #76c38f;
  margin-bottom: 10px;
}
footer .main .container-footer .foot p {
  text-align: left;
  margin-bottom: 6px;
}
footer .main .container-footer .foot ul {
  width: 100%;
}
footer .main .container-footer .foot ul li {
  width: 100%;
  color: #76c38f;
  text-align: left;
  padding: 5px;
  padding-left: 0;
}
footer .main .container-footer .foot ul li a {
  display: block;
  width: 100%;
  margin-bottom: 0;
}
footer .main .container-footer .foot ul li a:before {
  content: '>>';
  padding-right: 2px;
}
footer .main .container-footer .foot ul hr {
  width: 100%;
}
footer .main .container-footer .foot3 p {
  margin-bottom: 30px;
}
footer .main .container-footer .foot4 input {
  margin-bottom: 10px;
}
footer .main .container-footer .foot4 textarea {
  margin-bottom: 10px;
}
footer .main .container-footer .foot4 .submit {
  text-transform: uppercase;
}
@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
  }
}
@media screen and (max-width: 1070px) {
  .services .main .container-services {
    justify-content: space-around;
  }
  .works .main .container-works {
    justify-content: space-around;
  }
}
@media screen and (max-width: 920px) {
  header {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
  }
  header .main .head nav {
    width: 60px;
    height: 60px;
    background-image: url("../img/menu.svg");
    background-size: cover;
    cursor: pointer;
  }
  header .main .head nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: -200px;
    top: 0;
    height: 100vh;
    width: 200px;
    box-sizing: border-box;
    background-color: #303030;
    z-index: 1;
    transition: right 0.7s ease-out;
  }
  header .main .head nav ul li:first-of-type {
    padding-top: 20px;
  }
  header .main .head nav ul li:last-of-type {
    padding-bottom: 40px;
  }
  header .main .head nav ul li {
    margin-left: 0;
  }
  header .main .head nav ul li a {
    color: white;
  }
  header .main .head nav ul li:hover {
    background-color: transparent;
    border-radius: 0;
  }
  header .main .head nav ul img {
    display: block;
    align-self: flex-end;
    margin-top: 32.5px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
  }
  header .main .slider .slide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    outline: none;
  }
  header .main .slider .slide article {
    width: 320px;
  }
  header .main .slider .slide article h3 {
    color: white;
    margin-bottom: 30px;
  }
  header .main .slider .slide article p {
    margin-bottom: 20px;
  }
  header .main .slider .slide img {
    width: 380px;
    height: 380px;
    clip-path: circle(50%);
    object-fit: cover;
  }
  header .main .slider .slide:nth-of-type(n+2) {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  header {
    position: relative;
    overflow: hidden;
  }
  header .main .slider .slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    outline: none;
  }
  header .main .slider .slide article {
    text-align: center;
  }
  header .main .slider .slide article h3 {
    margin-top: 30px;
  }
  header .main .slider .slide img {
    width: 280px;
    height: 280px;
    clip-path: circle(50%);
    object-fit: cover;
  }
}
@media screen and (max-width: 550px) {
  header {
    position: relative;
    overflow: hidden;
  }
  header .main .head nav {
    width: 40px;
    height: 40px;
  }
  header .main .head nav ul img {
    width: 20px;
    height: 20px;
  }
  header .main .slider .slide {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    outline: none;
  }
  header .main .slider .slide article {
    text-align: center;
  }
  header .main .slider .slide article h3 {
    margin-top: 30px;
  }
  header .main .slider .slide img {
    width: 180px;
    height: 180px;
    clip-path: circle(50%);
    object-fit: cover;
  }
  .button {
    width: 182px;
    height: 42px;
  }
  h3 {
    font-size: 2.1rem;
  }
  h4 {
    font-size: 1.5rem;
  }
}
